html {
    background-color: rgb(43, 239, 239);
}

.container {
    background-color: rgb(224, 190, 148);
}

@mixin transition {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    }
    @mixin corners ($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius; 
    -khtml-border-radius: $radius; 
    }
