html {
    background-color: rgb(43, 239, 239);
}

body {
    height: 100%;
}

.wrapper {
    border-radius: 100px;
    border-color: rgb(0, 0, 0);
    height: 350px;
}

.container {
    background-color: rgb(224, 190, 148);
}
